name: My First Workflow
on: 
  push
jobs:
  build:
    runs-on:
      ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        version: [12, 13, 14]
    steps:
      - run: echo ${{ubuntu-latest.version}} ${{windows-latest.version}}
        
          
      
