name: My First Workflow
on: 
  push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo ::notice::Un message info
          echo ::warning::Un warning
          echo ::error::Une erreure
          
      
